*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
   
}
html{
    background-color: #F5F5F5;
}
/* nav  star*/
html{
    background-color: #F5F5F5;
}
nav{
    background-color: #333545;
}
.navigation{
    display: flex;
    margin: 0% 11%;
}
.navigation .left{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}
.navigation .search{
    width: 60%;
    height: 40%;
}
.navigation img{
    height: 50%;
}
.navigation .right{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: white;
}
.navigation .right button{
    height: 30%;
    border: none;
    background-color: #F84464;
    color: white;
    border-radius: 2px;
    font-size: 10px;
    width: 7em;
}
.navigationBtmBdr{
    background-color: #222539;
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
}
.navigationBtmBdr a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
.navigationBtmBdr .left,.navigationBtmBdr .right{
    padding:10px 0;
}
.mainpart{
    position: absolute;
    display: none;
    transition-duration: 2s;
}

.azmat:hover .mainpart{
    right: 0;
    top: 0;
    display: inline-block;
}
main img{
    width: 100%;
}

main{
    margin: 1% 11%;
}
.mainpart{
    
    margin-left: 0%;
    height: 100vh;
    width: 25vw;
    background-color: white;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.489);
}

.mainpart .one{
    background-color: #2E3147;
    height: 10%;
}
.mainpart h2{
  color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 3% 5%;
}
.mainpart .two{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    
    padding: 5%;
    box-shadow: 1px 2px 2px gray;
    width: 90%;
}
.mainpart img{
    width: 10%;
    height: 10%;
}
.mainpart .two span,.mainpart button{
    font-size: 9px;
    font-weight: 600;
    margin-right: 0px;
}
.mainpart button{
    border: 1px solid #F84F6D;
    border-radius: 5px;
    color: #F84F6D;
    background-color: white;
    font-size: 8px;
    padding: 5px;
}
.mainpart .three{
    display: flex;
    flex-direction: column;
}
.three .first{
    display: flex;
    gap: 5%;
    align-items: center;
}
.mainpart .three a{
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
    color: #484444 !important;
    border-bottom: 1px solid #484444;
    margin-right: 5%;
}


@media(max-width:672px){

    .right>div span,.right button{
        display: none;
    }
    .navigationBtmBdr{
        display: none;
    }
    .mainpart{
        width: 60vw;
    }
}

/* nav end */

/* nav end */

.movie img{
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.movie h3,.movie p{
    margin-left: 2%;
}
.movie h3{
    font-weight: bold;
}
.moviecontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.moviesection{
    margin: 5% 11%;
}
.moviesection h2{
    word-break: break-word;
    color: rgb(51, 51, 51);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 3%;
}
.poster{
    margin: 1% 11%;
}
.poster img{
    width: 100%;
}
.suggest{
   
    height: auto;
    background-color: #2B3149;
}
.suggest .header{
    display: flex;
    align-items: center;
    gap: 3%;
    margin: 5% 11%;
    color: white;
    font-weight: 400;
    padding-top: 3%;
    word-break: break-word;
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.17;
}

.suggest{
    color: white;
}
.moviecontainer img{
    transition-duration: 1s;
}
.moviecontainer img:hover{
    transform: scale(1.2);
}
.events{
    margin: 5% 11%;
}
.events img{
    width: 150px;
    margin-left: 1.5%;
    border-radius: 10px;
   
}
.events div{
    margin-top: 3%;
}
.events h2{
    word-break: break-word;
    color: rgb(51, 51, 51);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
}
.Trending{
    background-color: #F5F5F5;
    margin: 5% 11%;
}
.Trending .inside .one div,.Trending .inside .two div{
    background-color: white;
}
.Trending h2{
    word-break: break-word;
    color: rgb(51, 51, 51);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 1%;
}
.Trending h4{
    color: #F84464;
}
.Trending .inside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    height: auto;
    gap: 2%;
    justify-content: space-between;
}
.Trending .one,.Trending .two{
    display: flex;
    gap: 2%;
}
.one div,.two div{
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 2%;
    border-radius: 2px;
}


footer{
    background-color: #2E3147;
}
.footer-one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0% 10%;
    align-items: center;
    padding: 1% 0%;
}
.footer-one .one-one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5px;
    align-items: center;
}
footer button{
    padding: 6px;
    color: white;
    background-color: #EC5E71;
    border: none;
    border-radius: 5px;
}
.footer-two-one{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%;
    padding: 1% 0%;
   
}
.footer-two-one a{
    text-decoration: none;
    color: #33698D;
}
.footer-two-one a:hover{
    color: white;
}
.footer-two{
    background-color: #404043;
}

.footer-third{
    background-color: #333338;
    padding-top: 3%;
}
.footer-third .fth-two .fth-tw-tw{
    text-align: center;
    font-size: 10px;
    padding: 3% 5%;
    color: #666666;
}
.footer-third .fth-two .fth-tw-on{
    display: flex;
    justify-content: center;
    gap: 1%;
    padding-top: 5%;
}
.footer-third .fth-two .fth-tw-on img{
    width: 20px;
    border-radius: 10px;
   
    border: 7px solid #333338;
}
.footer-third .fth-two .fth-tw-on img:hover{
    transform: scale(1.2);
}

.logo222{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo222::after{
content: "";
width: 40%;
height: 2px;
background-color: grey;
top: 50px;
}
.logo222::before{
    content: "";
    width: 40%;
    height: 2px;
    background-color: grey;
    top: 50px;
    }




